* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #f4f4f4;
  color: #111;
}

/* HEADER */
.header {
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 16px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #5b5bff;
}

.nav a {
  margin-left: 85px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

/* HERO */
.hero {
  background: url(e11fe0289d1ad6e93656e54c43b99f9275d82560.jpg);
  color: #fff;
  padding: 100px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 12px;
}

.hero p {
  opacity: 0.8;
}

/* BLOG */
.blog {
  padding: 80px 20px;
  text-align: center;
}

.blog h2 {
  margin-bottom: 40px;
}

.blog-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.card {
  background: #fff;
  text-align: left;
  padding-bottom: 20px;
}

.card-img {
  width: 380px;
  height: 240px;
}

.purple { background: #cfc7ff; }
.pink { background: #ffc1dc; }
.blue { background: #bfe4ff; }
.green { background: #d8ffbf; }
.yellow { background: #ffe6b8; }
.orange { background: #ffd8b8; }

.meta {
  display: block;
  font-size: 12px;
  color: #777;
  padding: 12px 16px 0;
}

.card h3 {
  padding: 8px 16px;
  font-size: 16px;
}

.card p {
  padding: 0 16px;
  font-size: 14px;
  color: #555;
}

/* FOOTER */
.footer {
  background: #222;
  color: #ccc;
  padding-top: 10px;
  
  
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer h4 {
  color: #fff;
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
}

.footer li {
  margin-bottom: 6px;
}

.contact  {
 display: inline-block;
  margin-top: 150px;
  margin-left: -800px;
}
.copyright {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  border-top: 1px solid black;
  margin-top: 40px;
  background-color: black;
}
